<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB</title>
</head>
    <body>
        <table border="1" id="db-edit-table">
        <tr id="list-title">
            <th>ID</th>
            <th id="id-test" onclick="getID(this.id)">お問い合わせ種別</th>
            <th>会社名</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>電話番号</th>
            <th>お問い合わせ内容</th>
            <th></th>
        </tr>
    </table>
</body>
<script src="../../JS/DBedit.js"></script>
</html>
